main {
    width: 80vw;
    height: 100vh;
}
main .container {
    width: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: stretch;
    gap: 20px;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) ; */
}
html { 
    font-size: 10px;
}
main .container .item-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin-top: 1rem;
    
}

main .container .item-2 {
    border-top: 5px solid rgb(0,200,200) ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    grid-column: 1/2;
    grid-row: 2/3;
    
}

main .container .item-3 {
    border-top: 5px solid rgb(230,57,80) ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    grid-column: 1/2;
    grid-row: 3/4;
}

main .container .item-4 {
    border-top: 5px solid rgb(255,218,45) ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    grid-column: 1/2;
    grid-row: 4/5;
  
    
}

main .container .item-5 {
    border-top: 5px solid rgb(84,158,242) ;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    grid-column: 1/2;
    grid-row: 5/6;
}

main .container img {
    width: 64px;
    height: 32px;
}